<% if logged_in? %>

<%= render 'tasks/tasks', tasks: @tasks %>

<% else %>
<div class = "center jumbotron">
  <div class = "text-center">
    <h1>TaskList</h1>
    <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>